version: "3.8"
services:
  server:
    build:
      context: .
      dockerfile: ./backend/dockerfiles/nginx.dockerfile
    ports:
      - '8000:80'
    volumes:
      - ./backend/src:/var/www/html
      - ./backend/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - mysql
  php:
    build:
      context: .
      dockerfile: ./backend/dockerfiles/php.dockerfile
    volumes:
      - ./backend/src:/var/www/html:delegated
  mysql:
    image: mysql:5.7
    platform: linux/amd64
    volumes:
      - data:/var/lib/mysql
    restart: always
    env_file:
      - ./backend/env/mysql.env
    ports:
      - "3356:3306"
  composer:
    build:
      context: .
      dockerfile: ./backend/dockerfiles/composer.dockerfile
    volumes:
      - ./backend/src:/var/www/html      
  artisan:
    build:
      context: .
      dockerfile: ./backend/dockerfiles/php.dockerfile
    volumes:
      - ./backend/src:/var/www/html
    entrypoint: ['php', '/var/www/html/artisan']      
  frontend:
    build: 
      context: ./frontend
      target: develop
    ports:
      - '8080:8080'
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
  npm:
    image: node:14
    stdin_open: true
    tty: true
    working_dir: /app
    entrypoint: ['npm']
    volumes:
      - ./frontend:/app

volumes:
  data: