@tailwind utilities;

.app-card {
    @apply shadow-lg my-2 px-6 py-4 overflow-hidden;
}

.app-card--rounded { 
    @apply rounded-md;
}

.app-card--primary {
    @apply bg-blue-100;
}

.app-card--secondary {
    @apply bg-stone-100;
}

.app-card--success {
    @apply bg-emerald-100;
}

.app-card--danger {
    @apply bg-red-100;
}

.app-card--warning {
    @apply bg-amber-100;
}

.app-card--light {
    @apply bg-white;
}

.app-card--dark {
    @apply bg-stone-900;
}